<h1 class="animated fadeIn fast">Sobre Comic</h1>
<hr>
<p class="fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cum laudantium fugiat vero libero ex quae molestiae officiis, ad ipsum doloribus id natus, modi velit sunt reprehenderit voluptate. Libero, ut. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Nesciunt, eius non excepturi distinctio nemo aperiam fuga voluptas atque, ad debitis nisi ipsa saepe iusto aspernatur voluptates officia eligendi praesentium porro.
</p>